{% extends 'base.html.twig' %}

{% block title %} About {{ parent() }} {% endblock %}

{% block body %}
<h2>Nous trouver</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2621.38451614147!2d2.5202437150442276!3d48.9271176038201!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6138f274d4e27%3A0x2a9068b608ada414!2s24%20Av.%20Liegeard%2C%2093270%20Sevran!5e0!3m2!1sfr!2sfr!4v1677877108083!5m2!1sfr!2sfr" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}
