{% extends 'base.html.twig' %}

{% block title %} Conditions générales d'utilisation {{ parent() }} {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">Conditions Générales d'Utilisation</h1>

        <p class="lead">Merci de lire attentivement les présentes Conditions Générales d'Utilisation ("CGU") avant d'utiliser notre site web accessible à l'adresse <a href="https://www.coupdcoeurimmo.fr">https://www.coupdcoeurimmo.fr</a> (le "Site").</p>

        <h2>1. Acceptation des CGU</h2>
        <p>En accédant au Site, vous reconnaissez avoir lu, compris et accepté sans réserve les CGU. Si vous n'acceptez pas les CGU, vous devez cesser toute utilisation du Site.</p>

        <h2>2. Utilisation du Site</h2>
        <p>Le Site est mis à votre disposition pour vous fournir des informations sur nos services immobiliers et faciliter les transactions entre les utilisateurs et les biens immobiliers. En utilisant le Site, vous vous engagez à :</p>
        <ul>
            <li>Utiliser le Site conformément à toutes les lois et réglementations applicables.</li>
            <li>Respecter les droits de propriété intellectuelle liés au contenu du Site.</li>
            <li>Fournir des informations précises et à jour lors de l'utilisation du Site.</li>
            <li>Ne pas utiliser le Site de manière frauduleuse, abusive, diffamatoire, obscène ou autrement répréhensible.</li>
            <li>Ne pas tenter d'accéder à des zones sécurisées du Site pour lesquelles vous n'avez pas l'autorisation.</li>
        </ul>

        <h2>3. Contenu</h2>
        <p>Tout le contenu présenté sur le Site, y compris les textes, images, vidéos, logos, marques de commerce, etc. (le "Contenu"), est la propriété exclusive de Coup de Cœur Immo ou de ses partenaires. Vous ne pouvez pas utiliser, reproduire, distribuer ou modifier le Contenu sans notre autorisation écrite préalable.</p>

        <h2>4. Confidentialité</h2>
        <p>Nous attachons une grande importance à la protection de votre vie privée. Notre Politique de Confidentialité régit la collecte, l'utilisation et la divulgation de vos informations personnelles lorsque vous utilisez notre Site. En utilisant le Site, vous consentez à ce que nous recueillions, utilisions et divulguions vos informations conformément à notre Politique de Confidentialité.</p>

        <h2>5. Liens externes</h2>
        <p>Le Site peut contenir des liens vers des sites web tiers. Ces liens sont fournis uniquement à titre informatif et nous n'endossons pas le contenu ou la responsabilité de ces sites. Vous accédez à ces sites tiers à vos propres risques et nous vous recommandons de lire les CGU et politiques de confidentialité de ces sites.</p>

        <h2>6. Limitation de responsabilité</h2>
        <p>Nous nous efforçons de maintenir le Site à jour, sécurisé et accessible en permanence, mais nous ne pouvons garantir son fonctionnement ininterrompu ou exempt d'erreurs. Dans la mesure permise par la loi, nous déclinons toute responsabilité pour les dommages directs, indirects, spéciaux, consécutifs ou immatériels résultant de l'utilisation ou de l'incapacité d'utiliser le Site.</p>

        <h2>7. Modifications des CGU</h2>
        <p>Nous nous réservons le droit de modifier les présentes CGU à tout moment. Les modifications prendront effet dès leur publication sur le Site. Il est de votre responsabilité de consulter régulièrement les CGU afin de prendre connaissance des éventuelles modifications. L'utilisation continue du Site après l'entrée en vigueur des modifications constitue votre acceptation de ces modifications.</p>

        <h2>8. Contact</h2>
        <p>Si vous avez des questions concernant les CGU ou le Site, veuillez nous contacter à l'adresse suivante :</p>
        <address>
            CoupdCoeur Immo<br>
            24 Avenue Liégeard<br>
            93270 Sevran, France<br>
            <a href="mailto:contact@coupdcoeurimmo.fr">contact@coupdcoeurimmo.fr</a>
        </address>
    </div>
{% endblock %}
