{% extends 'base.html.twig' %}

{% block title %} Conditions générales de vente {{ parent() }} {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">Conditions Générales de Vente</h1>

        <p class="lead">Les présentes Conditions Générales de Vente ("CGV") régissent la vente de biens immobiliers par Coup de Cœur Immo via notre site web accessible à l'adresse <a href="https://www.coupdcoeurimmo.fr">https://www.coupdcoeurimmo.fr</a> (le "Site").</p>

        <h2>1. Acceptation des CGV</h2>
        <p>En effectuant un achat sur notre Site, vous acceptez sans réserve les présentes CGV. Si vous n'acceptez pas les CGV, vous ne devez pas procéder à l'achat.</p>

        <h2>2. Offre et Disponibilité</h2>
        <p>Les biens immobiliers présentés sur le Site sont soumis à disponibilité. Les informations relatives aux biens, y compris les prix, les descriptions et les photos, sont fournies à titre indicatif et peuvent être sujettes à des changements sans préavis.</p>

        <h2>3. Prix et Paiement</h2>
        <p>Les prix des biens immobiliers sont indiqués en euros et sont hors frais supplémentaires tels que les frais de notaire et les taxes. Le paiement doit être effectué conformément aux méthodes de paiement disponibles sur le Site. Nous nous réservons le droit de modifier les prix à tout moment, mais les modifications n'affecteront pas les commandes déjà acceptées.</p>

        <h2>4. Droit de Rétractation</h2>
        <p>Conformément à la législation en vigueur, les ventes de biens immobiliers ne sont pas soumises au droit de rétractation. Une fois votre achat confirmé, il est considéré comme définitif.</p>

        <h2>5. Responsabilité</h2>
        <p>Nous mettons tout en œuvre pour fournir des informations précises et à jour sur les biens immobiliers. Cependant, nous ne pouvons garantir l'exactitude ou l'exhaustivité des informations. Nous déclinons toute responsabilité en cas de préjudice direct ou indirect résultant de l'utilisation des informations ou des biens achetés sur le Site.</p>

        <h2>6. Propriété Intellectuelle</h2>
        <p>Tous les droits de propriété intellectuelle relatifs au Site, y compris les contenus textuels, graphiques, logos, marques de commerce, etc., sont la propriété de Coup de Cœur Immo ou de ses partenaires. Toute utilisation ou reproduction non autorisée de ces éléments est strictement interdite.</p>

        <h2>7. Confidentialité</h2>
        <p>Nous traitons vos informations personnelles conformément à notre Politique de Confidentialité. En effectuant un achat sur le Site, vous consentez à ce que nous recueillions, utilisions et divulguions vos informations conformément à cette politique.</p>

        <h2>8. Modifications des CGV</h2>
        <p>Nous nous réservons le droit de modifier les présentes CGV à tout moment. Les modifications prendront effet dès leur publication sur le Site. Il est de votre responsabilité de consulter régulièrement les CGV afin de prendre connaissance des éventuelles modifications.</p>

        <h2>9. Contact</h2>
        <p>Si vous avez des questions concernant les CGV ou votre achat, veuillez nous contacter à l'adresse suivante :</p>
        <address>
            Coup de Cœur Immo<br>
            24 Avenue Liégeard<br>
            93270 Sevran, France<br>
            <a href="mailto:contact@coupdcoeurimmo.fr">contact@coupdcoeurimmo.fr</a>
        </address>
    </div>
{% endblock %}
