<form method="post" action="{{ path('app_rental_interest_delete', {'id': rental_interest.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rental_interest.id) }}">
    <button class="btn">Delete</button>
</form>
