{% extends 'base.html.twig' %}

{% block title %}Je suis intéressé  par un achat{% endblock %}

{% block body %}
    <h1>Remplir un intérêt d'achat</h1>

    {{ include('home_interest/_form.html.twig') }}

{% endblock %}
