{% extends 'base.html.twig' %}

{% block title %}Dossier de location {% endblock %}

{% block body %}
    <h1>Déposer un dossier de location</h1>
<p class="text-center text-warning">Si le dossier est incomplèt votre candidature ne sera pas retenue.</p>
    {{ include('rental_application/_form.html.twig') }}
{% endblock %}
