{% extends 'base.html.twig' %}

{% block title %}Modifier la catégorie {{ category.name }} {{ parent() }} {% endblock %}

{% block body %}
    <h1>Édition d'une  catégorie</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Mise à jour'}) }}
{% endblock %}
