<div class="list-group d-flex flex-row">
  {% for category in categories %}
    <a class="nav-link d-inline-block" href="{{ path('app_category_show', {'name': category.name}) }}">
      {% if category.name == 'vente' %}
        <i class="fas fa-home fa-fw me-1" aria-hidden="true"></i>
      {% elseif category.name == 'location' %}
        <i class="fas fa-building fa-fw me-1" aria-hidden="true"></i>
      {% endif %}
      <span class="nav-link-text">{{ category.name }}</span>
    </a>
  {% endfor %}
</div>
