<div class="list-group d-flex flex-row">
  {% for category in categories %}
  <a class="nav-link d-inline-block text-dark" href="{{ path('app_category_show', {'name': category.name}) }}">
      <span>{{ category.name }}</span>
    </a>
  {% endfor %}
</div>
