{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie {{ parent() }} {% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Créer une nouvelle catégorie</h1>

    {{ include('category/_form.html.twig') }}
{% endblock %}
