<form method="post" action="{{ path('app_properties_delete', {'id': property.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer ce bien?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}">
    <button class="btn btn-danger m-1">Supprimer</button>
</form>
