{% extends 'base.html.twig' %}

{% block title %}édition de {{ property.title }} {% endblock %}

{% block body %}
    <h1>Modification d'un bien</h1>

    {{ include('properties/_form.html.twig', {'button_label': 'Mise à jour'}) }}
{% endblock %}
