{% extends 'base.html.twig' %}

{% block title %}Création d'un nouveau bien {{ parent() }}  {% endblock %}

{% block body %}
    <h1 class="text-center m-4">Créer un nouveau bien</h1>
    {{ include('properties/_form.html.twig') }}
{% endblock %}
