{% extends 'base.html.twig' %}

{% block title %}Création d'une nouvelle annonce {{ parent() }}  {% endblock %}

{% block body %}
    <h1>Créer une nouvelle annonce</h1>
    {{ include('properties/_form.html.twig') }}
{% endblock %}
