{% extends 'base.html.twig' %}

{% block title %}Création d'un nouveau bien {{ parent() }}  {% endblock %}

{% block body %}
    <h1>Créer un nouveau bien</h1>
    {{ include('search/_form.html.twig') }}
{% endblock %}
