{% extends 'base.html.twig' %}

{% block title %}Nous contacter {{ parent() }} {% endblock %}

{% block body %}
<h2 class="z-3 text-center mt-5">Contactez-nous</h2>
    {{ include('contact/_form.html.twig') }}
{% endblock %}
