{% extends 'base.html.twig' %}

{% block title %}Nous contacter {{ parent() }} {% endblock %}

{% block body %}
    <h1>Créer une nouvelle demande de contact</h1>

    {{ include('contact/_form.html.twig') }}
{% endblock %}
