<footer class="bg-light text-center text-lg-start mt-5">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">CoupDcoeurimmo</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-dark">24 avenue Liegeard, 93270 Sevran</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">coupdcoeurimmo@gmail.com</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">06.52.52.31.97</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Horaires</h5>
                <ul class="list-unstyled">
                    <li>
                        <p class="text-dark">Lundi - Vendredi: 9h - 17h30</p>
                    </li>
                    <li>
                        <p class="text-dark">Samedi - Dimanche: Fermé</p>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Informations</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('app_contact_new') }}" class="text-dark">Nous contacter</a>
                    </li>
                    <li>
                        <a href="{{ path('app_about') }}" class="text-dark">Nous trouver</a>
                    </li>
                    <li>
                        <a href="{{ path('app_cgv') }}" class="text-dark">CGV</a>
                    </li>
                    <li>
                        <a href="{{ path('app_cgu') }}" class="text-dark">CGU</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Réseaux sociaux</h5>
                <a href="https://www.facebook.com/profile.php?id=100089363383809" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Coupdcoeurimmo - Tous droits réservés.
    </div>
</footer>
