<div class="col-6">
  <nav class="navbar navbar-right navbar-expand-lg navbar-light bg-light flex-column fixed-top" style="height: 50px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      {% if app.user %}
      <!-- Menu administrateur -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> Administration
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ path('app_contact_index') }}"><i class="fas fa-user-edit"></i> Gérer les demande de contact</a>
            <a class ="dropdown-item" href ="{{path('app_properties_index')}}"><i class="fas fa-home fa-fw me-1"></i> Gestion des biens</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('app_user_index') }}"><i class="fas fa-user-plus fa-fw me-1"></i>Gestion des utilisateurs</a>
            {{ include('user/_delete_form.html.twig') }}          
          </div>
        </li>
      {% endif %}
      </ul>
    </div>
  </nav>
</div>