
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="logo.png" alt="Logo de l'entreprise" width="20" height="20" class="d-inline-block align-text-top me-2">
      Coupdcoeurimmo
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href={{ path("app_home") }}>
            <i class="fas fa-home fa-fw me-1"></i> 
            Accueil
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">
            <i class="fas fa-info-circle fa-fw me-1"></i> 
            À propos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_contact_new')}}">
            <i class="fas fa-envelope fa-fw me-1"></i> 
            Contact
          </a>
        </li>
        {% if app.user is empty%}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_login') }}">
            <i class="fas fa-sign-in-alt fa-fw me-1"></i> 
            Connexion
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_user_register') }}">
            <i class="fas fa-user-plus fa-fw me-1"></i> 
            Inscription
          </a>
        </li>
        {% endif %}
      </ul>
       
    </div>
  </div>
</nav>