<div class="container">
  <div class="row">
    <div class="col-6">
      <!-- Votre contenu principal ici -->
    </div>
    <div class="col-6">
      <div class="position-fixed" style="top: 50px; left: 0;">
        <div class="col-lg-12">
          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mon compte
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if app.user %}
                <a class="dropdown-item" href="{{ path('app_user_edit', {'id': app.user.id}) }}"><i class="fas fa-user-edit"></i> Modifier mon profil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
                {{ include('user/_delete_form.html.twig') }}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
