{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs
{% endblock %}

{% block body %}
	<h1>Liste des utilisateurs</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Prénom</th>
				<th>Roles</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.name }}</td>
					<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
					<td>
						<a href="{{ path('app_user_show', {'id': user.id}) }}">Afficher</a>
						<a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
