{% extends 'base.html.twig' %}

{% block title %}Création de compte {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="text-center mt-3" >Créer un compte</h1>

    {{ include('user/_form.html.twig') }}
{% endblock %}
